.mainScene {
    position: relative;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    background: url(img/mainField.png) no-repeat;
}

.interface {
    position: absolute;
    margin: 0px 0px 0px 45px;
}

.myCar {
    position: absolute;
    width: 120px;
    height: 160px;
    background-image: url(img/car.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

.anotherCar {
    position: absolute;
    width: 120px;
    height: 160px;
    background-image: url(img/car.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}